
.nav-margin {
  margin-top: 75px;
}
.buttonLogout{
  border-radius: 1em;
}
#othermeshh, #otheruser{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 75%;
  float: right;
}
#otheruser{
  height: auto;
}
#othermeshh{
  margin-top: 30px;
}
