<nav class="navbar navbar-light bg-white text-dark shadow-sm fixed-top px-5">
    <a id="brand" class="navbar-brand big-bold green" (click)="toHome()">FRESHH</a>
    <button (click)="logout()" class="btn-lg round big-btn border-green my-2 my-sm-0 buttonLogout" type="button">Logout</button>
</nav>

<div class="container-fluid nav-margin">
    <div class="tab" id="otheruser">
        <app-otherprofile-user [user]="user"
        (emitterFollows)="addFollows($event)"
        (emitterNotFollows)="deleteFollows($event)"
        ></app-otherprofile-user>
    </div>

    <div class="tab" id="othermeshh">
        <app-tweet [tweets]="otherTweets" [me]="user"></app-tweet>
    </div>
</div>
