<div class="card mb-3" style="max-width: 750px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="user.profilePictureURL" class="card-img" alt="userimages">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="navbar">
          <h5 class="card-title">@USERNAME</h5>
          <h5>{{ tweet.creationDate}}</h5>
        </div>
        {{ tweet.text }}
        <div class="footer">
          <p class="card-text">RETWEET {{ tweet.numRTs }} </p>
          <p class="card-text">FAVOURITE {{ tweet.numLikes }} </p>
          <p>ANSWER</p>
        </div>
      </div>
    </div>
  </div>
</div>