
<div class="card p-3" style="min-width: 540px;" *ngIf="user">
  <div class="row no-gutters">
    <div class="col-1">
      <img [src]="user.profilePictureURL" alt="userimages" class="round d-inline card-img" [routerLink]="'/home/' + user.username">
    </div>
    <div class="col-11">
      <div class="card-body p-0 px-3">
        <span class="xm-bold" [routerLink]="'/home/' + user.username">{{user.username}}</span>
        <span class="m-medium ml-2" [routerLink]="'/home/' + user.username">@{{user.username}} · </span> <span class="s-medium">{{tweet.creationDate}}</span>
        <p class="card-text p-1">{{ tweet.text }}</p>
        <img [hidden]="!tweet.urlTweet" [src]="tweet.urlTweet" alt="imgTweet" class="w-100 rounded mx-auto mb-4 cover" height="300px">
            <div class="footer">
              <p class="card-text">RETWEET {{ tweet.numRTs }} </p>
              <p class="card-text">FAVOURITE {{ tweet.numLikes }} </p>
              <p>ANSWER</p>
            </div>
      </div>
      <div class="dropdown mb-2" *ngIf="ownUser.id == user.id">
        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg%22%3E">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
        <div class="dropdown-menu dropdown-menu-right m-0" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" (click)="eraseFromChild()">Eliminar</button>
        </div>
      </div>
      
    </div>
  </div>

