<app-sign></app-sign>

<div id="bg" class="container-fluid fixed-top full-h bg-opacity overlay"></div>
<div id="signUp" class="container fixed-top overlay ">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content round p-5">
      <div class="modal-header">
        <span class="modal-title big-bold text-dark" id="exampleModalLabel">Create your new account</span>
        <button type="button" class="close big-bold" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="form-group form-height">
            <input type="email" placeholder="Write your email" name="email" [(ngModel)]="email"
            class="col-12 form-control-lg round bg-light shadow-sm" [class.border-error]="emailIsEmpty"
            (keyup)="isValidEmail()">
            <div class="m-3 s-bold valid" [hidden]="!emailIsValid">Looks good!</div>
            <div class="m-3 s-bold invalid" [hidden]="emailFormatValidation">
              Introduce a valid format like 'user@example.com'</div>
              <div class="m-3 s-bold invalid" [hidden]="emailIsAvaible">
                This email is already in use</div>
                <div class="m-3 s-bold invalid" [hidden]="!emailIsEmpty">
                  Please, complete that field</div>
                </div>
          <div class="form-group form-height">
            <input type="text" placeholder="Choose a cool and original username" name="username" [(ngModel)]="username"
            class="col-12 form-control-lg round bg-light shadow-sm is-valid" [class.border-error]="emailIsEmpty"
            (keyup)="isValidUsername()">
            <div class="m-3 s-bold valid" [hidden]="!usernameIsValid">Looks good!</div>
            <div class="m-3 s-bold invalid" [hidden]="usernameFormatValidation">
              Should be longer than 4</div>
              <div class="m-3 s-bold invalid" [hidden]="usernameIsAvaible">
                This username is already in use</div>
                <div class="m-3 s-bold invalid" [hidden]="!usernameIsEmpty">
              Please, complete that field</div>
            </div>
          <div class="form-group form-height">
            <input type="password" placeholder="Your password here" name="password" [class.border-error]="emailIsEmpty"
            [(ngModel)]="password" class="col-12 form-control-lg round bg-light shadow-sm"
            (keyup)="isValidPassword()">
            <div class="m-3 s-bold valid" [hidden]="!passwordIsValid">Looks good!</div>
            <div class="m-3 s-bold invalid" [hidden]="passwordFormatValidation">
              Should be longer than 8!</div>
              <div class="m-3 s-bold invalid" [hidden]="!passwordIsEmpty">
                Please, complete that field</div>
          </div>
          <button type="button" class="btn-lg btn-warning round big-btn float-right bg-green"
            (click)="createUser()">Next</button>
          <button type="button" class="btn-lg btn-warning round big-btn float-right bg-green">Skip step</button>
          <button type="button" class="btn-lg btn-light round big-btn float-right" (click)="close()">Close</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- <label class="hoverable" for="fileInput">
  <img
  [src]="profileUrl ? profileUrl : 'https://cdn1.iconfinder.com/data/icons/rounded-black-basic-ui/139/Photo_Add-RoundedBlack-512.png'">
  <div class="hover-text">Choose file</div>
  <div class="background"></div>
</label>
<br />
<input id="fileInput" type="file" (change)="onSelectFile($event)"> -->
