
*{
outline: 0px !important;
}
.h-80{
  height: 80px;
}
.bg-opacity{
  background-color: black;
  opacity: 75%;
}
.valid {
  color: green !important;
}
.invalid {
  color: red !important;
}
.border-error {
  border:1px solid red;
}
.round {
  border-radius: 50px;
  border: 0px;
}
#calltoaction {
  height: 45px;
  padding-left: 25px;
}
/* //img */
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}
#fileInput{
  display: none;
}
.modal-content, .modal-body, .modal-header, .modal-footer {
  border: 0px !important;
}
.form-height {
  height: 70px;
}
@keyframes overlay {
  from {opacity: 0%;}
  to {opacity: 75%;}
}
.overlay {
  animation-name: overlay;
  animation-duration: .4s;
  animation-timing-function: ease-in;
}
