<app-sign></app-sign>

<div id="bg" class="container-fluid fixed-top full-h bg-opacity overlay"></div>
<div id="signUp" class="container fixed-top overlay mt-5">
  <div class="mt-5">
    <div class="modal-content col-12 col-lg-8 round p-5 m-auto">
      <span class="modal-title xl-bold text-dark" id="exampleModalLabel">
        <button class="btn btn-link glyphicon glyphicon-arrow-left m-bold" (click)="back()"
          [hidden]="step===1"></button>
        <span>Step {{step}} of 3</span>
        <button type="button" class="close big-bold" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
      <div class="modal-header mt-5 mb-4">
        <span class="modal-title big-bold text-dark" id="exampleModalLabel">
          <span [hidden]="step != 1">Create your new account</span>
          <span [hidden]="step != 2">Choose your profile picture</span>
          <span [hidden]="step != 3">What's your job?</span>

        </span>
      </div>
      <div class="modal-body form-h">
        <form id="step1" class="form" [hidden]="step != 1">
          <div class="form-group form-height">
            <input type="email" placeholder="Write your email" name="email" [(ngModel)]="email"
              class="col-12 form-control-lg round bg-light shadow-sm" [class.border-error]="emailIsEmpty"
              (keyup)="isValidEmail()">
            <div class="m-3 s-bold valid" [hidden]="!emailIsValid">Looks good!</div>
            <div class="m-3 s-bold invalid" [hidden]="emailFormatValidation">
              Introduce a valid format like 'user@example.com'</div>
            <div class="m-3 s-bold invalid" [hidden]="emailIsAvaible">
              This email is already in use</div>
            <div class="m-3 s-bold invalid" [hidden]="!emailIsEmpty">
              Please, complete that field</div>
          </div>
          <div class="form-group form-height">
            <input type="text" placeholder="Choose a cool and original username" name="username" [(ngModel)]="username"
              class="col-12 form-control-lg round bg-light shadow-sm is-valid" [class.border-error]="emailIsEmpty"
              (keyup)="isValidUsername()">
            <div class="m-3 s-bold valid" [hidden]="!usernameIsValid">Looks good!</div>
            <div class="m-3 s-bold invalid" [hidden]="usernameFormatValidation">
              Should be longer than 4</div>
            <div class="m-3 s-bold invalid" [hidden]="usernameIsAvaible">
              This username is already in use</div>
            <div class="m-3 s-bold invalid" [hidden]="!usernameIsEmpty">
              Please, complete that field</div>
          </div>
          <div class="form-group form-height">
            <input type="password" placeholder="Your password here" name="password" [class.border-error]="emailIsEmpty"
              [(ngModel)]="password" class="col-12 form-control-lg round bg-light shadow-sm"
              (keyup)="isValidPassword()">
            <div class="m-3 s-bold valid" [hidden]="!passwordIsValid">Looks good!</div>
            <div class="m-3 s-bold invalid" [hidden]="passwordFormatValidation">
              Should be longer than 8!</div>
            <div class="m-3 s-bold invalid" [hidden]="!passwordIsEmpty">
              Please, complete that field</div>
          </div>
        </form>

        <form id="step2" class="form" [hidden]="step != 2">
          <label class="hoverable m-auto" for="fileInput">
            <img
              [src]="profilePictureURL ? profilePictureURL : 'https://katakrak.net/sites/default/files/default_images/default_profile_0.jpg'">
            <div class="hover-text bg-light round p-4 glyphicon glyphicon-plus xl-bold"></div>
          </label>
          <input id="fileInput" type="file" (change)="chargeImg($event)">
        </form>

        <form id="step3" class="form" [hidden]="step != 3">
          <div class="form-group">
            <input type="text" placeholder="Example: developer" name="tags" [(ngModel)]="tag"
              class="col-12 form-control-lg round bg-light shadow-sm" (keyup.enter)="addTag()">
          </div>
          <span *ngFor="let tag of tags" class="text-white bg-dark round s-bold pl-5 pr-3 py-3 mr-2">
            <span class="mr-2 mb-3">{{tag}}</span>
            <a type="button" class="l-bold p-2 mt-5" (click)="deleteTag(tag)">
              <span aria-hidden="true">&times;</span>
            </a>
          </span>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-lg btn-light round big-btn float-right" (click)="close()">Close</button>
        <button type="button" class="btn-lg btn-warning round big-btn float-right bg-green" (click)="validateForm()"
          [hidden]="step != 1">Next</button>
        <button type="button" class="btn-lg btn-warning round big-btn float-right bg-green"
          (click)="setProfilePicture()" [hidden]="step != 2">
          <span [hidden]="profilePictureURL">Skip step</span>
          <span [hidden]="!profilePictureURL">Next</span>
        </button>
        <button type="button" class="btn-lg btn-warning round big-btn float-right bg-green" [hidden]="step != 3"
          (click)="createUser()">Create</button>

      </div>
    </div>
  </div>
</div>
