
*{
outline: 0px !important;
}
.h-80{
  height: 80px;
}
.bg-opacity{
  background-color: black;
  opacity: 75%;
}
.form-h{
  height: 250px;
  flex-wrap: wrap ;
}
.valid {
  color: green !important;
}
.invalid {
  color: red !important;
}
.border-error {
  border:1px solid red;
}
.round {
  border-radius: 50px;
  border: 0px;
}

/* //img */
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  top: 70%;
  left:  70%;
  /* transform: translate(-50%,-50%); */
  z-index: 2;
}

#fileInput{
  display: none;
}
.modal-content, .modal-body, .modal-header, .modal-footer {
  border: 0px !important;
}
.form-height {
  height: 70px;
}
@keyframes overlay {
  from {opacity: 0%;}
  to {opacity: 75%;}
}
.overlay {
  animation-name: overlay;
  animation-duration: .4s;
  animation-timing-function: ease-in;
}
.btn-link, .btn-link:hover {
color: black;
text-decoration-line: none !important;
}
