
.reset-txtarea, .reset-txtarea:focus{
  outline: none !important;
  resize:none;
  border: 0px;
}

.round {
  border-radius: 20px;
  border: 0px;
}
.nav-margin {
  margin-top: 100px;
}
.tab-nav {
  overflow: hidden;
}

.tab-nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: .2s ease;
}

.tab-nav a:hover {
  color: #1DF24C;
}

.tab-nav a.active {
  color: black;
  border-bottom: 3px solid #1DF24C;
}
