<nav class="navbar navbar-light bg-white text-dark shadow-sm fixed-top px-5">
  <a id="brand" class="navbar-brand big-bold green">FRESHH</a>
  <button (click)="logout()" class="btn-lg round big-btn border-green my-2 my-sm-0" type="button">Logout</button>
</nav>

<div class="container-fluid nav-margin">
  <div class="row">
    <div class="col">
      <div class="col-12 col-lg-6 m-auto card round border-green p-4">
        <form>
          <div class="form-group">
            <textarea [(ngModel)]="text" name="text" class="form-control m-bold reset-txtarea" maxlength="140"
              id="exampleFormControlTextarea1" rows="3" placeholder="What's new?"></textarea>
            </div>
          </form>
            <span class="ml-auto">
              <span class="m-bold m-4">{{text.length}} / 140</span>
              <button class="btn-lg round big-btn bg-green my-2 my-sm-0" type="button"
              (click)="createTweet(text)">Publishh</button>
          </span>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">

      <!-- Navtabs -->
      <div class="tab-nav col col-lg-6 m-auto">
        <ul class="nav nav-fill" role="tablist">
          <li class="nav-item">
            <a class="nav-link w-100 active show m-bold" id="profile-tab-classic" data-toggle="tab" href="#alltweets"
              role="tab" aria-controls="alltweets" aria-selected="true">ALL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link w-100 m-bold" data-toggle="tab" href="#mymeshh" role="tab" aria-controls="mymeshh"
              aria-selected="false">MY MESHH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link w-100 m-bold" data-toggle="tab" href="#favs" role="tab" aria-controls="favs"
              aria-selected="false">FAVS</a>
          </li>
        </ul>
      </div>
      <!-- All Tweets -->
      <div class="tab-content col col-lg-6 m-auto" id="myClassicTabContent">
        <div class="tab-pane fade active show" id="alltweets" role="tabpanel" aria-labelledby="profile-tab-classic">
          <app-tweet class="m-5" [tweets]="tweets"></app-tweet>
        </div>

        <!-- My Tweets -->
        <div class="tab-pane fade" id="mymeshh" role="tabpanel" aria-labelledby="follow-tab-classic">
          <app-tweet class="m-5" [tweets]="myTweets" [user]="user"></app-tweet>
        </div>

        <!-- Favs -->
        <div class="tab-pane fade" id="favs" role="tabpanel" aria-labelledby="contact-tab-classic">
          TUITS FAVORITOS
        </div>
      </div>
    </div>
  </div>
</div>
<app-sidebar [myuser]="user"></app-sidebar>

