
.round {
  border-radius: 20px;
  border: 0px;
}

.tab-nav {
  overflow: hidden;
  /* z-index: 1000; */
}

 .index-up{
  z-index: 9999;
 }

.tab-nav a {
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: .2s ease;
}

.tab-nav a:hover {
  color: #1DF24C;
}

.tab-nav a.active {
  color: black;
  border-bottom: 4px solid #1DF24C;
}
