*{
    outline: 0px !important;
}

.green{
    color: #1DF24C !important;
}

.invalid {
    color: red !important;
}

.valid {
    color: green !important;
}

.bg-green{
    background-color: #1DF24C;
}

.big-bold {
    font-weight: 800;
    font-size: 32px;
}

.m-bold {
    font-weight: 600;
    color: white;
    font-size: 18px;
}

.s-bold{
    font-weight: 600;
    font-size: 12px;
}


.cover{
    width: 300px;
    height: 25rem;
}

.profile{
    width: 200px;
    height: 240px;
    z-index: 1;
    position: relative;
    top: 200px;
    left: -180px;
}

.columna-2{
    position: absolute;
    top: 28rem;
    height: 50px;
}

.columna-2 span{
    text-align: center;
}