<nav class="navbar navbar-light bg-white text-dark shadow-sm fixed-top px-5">
  <a id="brand" class="navbar-brand big-bold green">FRESHH</a>
  <span class="ml-auto">
    <!-- AQUI DEBERIA ESTAR LA BARRA DE BÚSQUEDA -->
  </span>
</nav>

<div class="container-flex d-flex full-h">
  <div class="row copia ">
    <div class="col side">
      <div class="fondo">
        <img src="https://pixabay.com/get/57e8d34a4d50ab14f1dc8460da2932771638dce6575077_640.jpg" alt="fondo-collab">

        <div class="profile">
          <img src="https://pixabay.com/get/57e8d34b4d57ac14f1dc8460da2932771638dfed565279_640.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row copia-2">
    <span>
      Mario Quintana
    </span>
    <span>@flipper</span>
  </div>

  <div class="row copia-3">
    <span>X following</span>
    <span>X followers</span>
  </div>

  <div class="row copia-4">
    <button>#influencer</button>
    <button>#youtuber</button>
    <button>#photographer</button>
  </div>

  <div class="row copia-5">
    <button>Edit profile</button>
    <button>Log out</button>
  </div>
</div>