@import "~bootstrap/dist/css/bootstrap.css";
* {
  font-family: 'Montserrat', sans-serif;
}
.green{
  color: #1DF24C !important;
}
.red {
  color: red;
}
.bg-green{
  background-color: #1DF24C;
}
.border-green{
  border:3px solid #1DF24C !important;
}
.s-bold{
    font-weight: 600;
  font-size: 12px;
}
.m-bold {
  font-weight: 600;
  font-size: 16px;
}
.l-bold{
   font-weight: 600;
  font-size: 21px;
}
.xl-bold{
   font-weight: 800;
  font-size: 24px;
}
.big-bold {
  font-weight: 800;
  font-size: 30px;
}

.big-btn {
  font-weight: 800;
  padding-left: 30px;
  padding-right: 30px;
}
.full-h {
  min-height: 100vh;
}


