
.round-container {
  border-radius: 20px 20px 0px 0px;
}
  .profile{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: -75px;
    border: 6px solid white;
}

.btnF{
  float: left;
}
.btnE{
  float: left;
}