<div class="border round-container" *ngIf="user">
  <img src="{{user.profileCoverURL}}" class="w-100 round mx-auto cover " height="150px">
  <div class="row p-0 m-0">
    <div class="col-8 text-right m-0">
      <div *ngIf="user.id != localUser.id">
        <button type="button" class="round bg-green s-medium py-1 px-4 mt-2 btnF" (click)="emitFollow()"
          *ngIf="user.followers.indexOf(localUser.id) === -1">
          <b>Follow</b>
        </button>
        <button type="button" class="round bg-green s-medium py-1 px-4 mt-2 btnF" (click)="emitNotFollow()"
          *ngIf="user.followers.indexOf(localUser.id) >= 0">
          <b>Unfollow</b>
        </button>
      </div>
      <div *ngIf="user.id == localUser.id">
        <button type="button" class="round bg-ligth s-bold border-green py-2 px-4 mt-2 btnE" routerLink="/profile/edit">Edit</button>
      </div>
      <span class="xl-bold name">{{user.name}} </span>
      <span class="l-medium username">@{{user.username}}</span>
      <div class="m-bold">
        <span class="mr-3">{{user.following.length}} following</span>
        <span class="mr-1">{{user.followers.length}} followers</span>
      </div>
      <span *ngFor="let tag of user.tags" class="d-inline-block text-white bg-dark round s-bold pl-3 pr-3 pb-2 pt-2 mr-1 mb-4">
        <span>{{tag}}</span>
      </span> 
    </div>
    <div class="col">
      <img src={{user.profilePictureURL}} class="img-round profile">
    </div>

  </div>
</div>
