
<div class="card otherprofile">
    <div class="profile">
        <div class="cover"></div>
        <div class="picture">
            <img src={{user.profilePictureURL}}>
        </div>
        
        <div class="username">
            <span class="xl-bold">@ {{user.username}}</span>
        </div>
        
        <div class="data">
            <span class="xl-bold name">{{user.name}}</span>
            <button type="button" class="follow"><b>Follow</b></button>
        </div>
    </div>
</div>
